<!-- page headers  -->
<nz-spin [nzSpinning]="!isDataLoaded">
<nz-card nzHoverable>
<nz-page-header  class="site-page-header">
  <!-- title -->
  <nz-page-header-title>Exercise Management</nz-page-header-title>
  <!-- add btn -->
  <nz-page-header-extra>
    <button nz-button class="greenBtn" nzGhost (click)="showActionModal('Add', {})">Add <i nz-icon nzType="plus" nzTheme="outline"></i></button>
    <button nz-button nzType="primary" nzGhost (click)="reloadPage()" [nzLoading]="!isReloaded">Reload <i nz-icon nzType="reload" nzTheme="outline"></i></button>
  </nz-page-header-extra>
  <!-- screen stats -->
  <nz-page-header-content>
    <nz-row nzType="flex">
      <nz-statistic nzTitle="Total Records" [nzValue]="readingScreendRecords"></nz-statistic>
    </nz-row>
  </nz-page-header-content>
</nz-page-header>
</nz-card>
</nz-spin>
<br/>
<!-- screen data -->
<nz-card>
<nz-table #screenData [nzData]="readingScreens"  [nzPageSize]="10"[nzLoading]="!isDataLoaded">
  <thead>
    <tr>
      <th>Ttitle</th>
      <th>Description</th>
      <th>Type</th>
      <th>Date Created</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of screenData.data">
      <!-- title -->
      <td (click)="screenDetails(data)" class="clickable">{{data.title}}</td>
      <!-- description -->
      <td (click)="screenDetails(data)" class="clickable">{{data.description}}</td>
      <!-- type -->
      <td>{{getType(data.type_id)}}</td>
      <!-- date -->
      <td>{{data.createdAt | date: "d MMM y"}}</td>
      <td>
        <span nz-tooltip nzTooltipTitle="edit">
          <i nz-icon nzType="edit" nzTheme="outline" class="edit-icon-link" (click)="showActionModal('Update', data)"></i>
        </span>
        <nz-divider nzType="vertical"></nz-divider>
        <span nz-tooltip nzTooltipTitle="delete"
        nz-popconfirm
        nzPopconfirmTitle="Are you sure delete this Exercise?"
        nzPopconfirmPlacement="bottom"
        nzPopconfirmPlacement="top"
        (nzOnConfirm)="deleteReadingScreen(data.id)">
        <i nz-icon nzType="delete" nzTheme="outline"  class="delete-icon-link"></i>
        </span>
      </td>
    </tr>
  </tbody>
</nz-table>
</nz-card>

<!-- action modal -->
<app-action-modal
*ngIf="isActionModal"
  [isVisible]="isActionModal"
  [modalAction]="screenModalAction"
  [screenData]="actionModalData"
  [exerciseTypes]="exerciseTypes"
  (closeModal)="closeActionModal($event)"
  (isActionComplete)="isActionComplete($event)"
></app-action-modal>

