<!-- screen details -->
<nz-spin [nzSpinning]="!isDataLoaded">

  <!-- page header -->
  <nz-card nzHoverable>
    <nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="{{screenData.title}}" nzSubtitle="details">
    </nz-page-header>
  </nz-card>
<br />
  <nz-card nzHoverable>
  <nz-descriptions nzBordered >
    <nz-descriptions-item nzTitle="Description">{{screenData.description}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Data Elements">{{dataElementRecords}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Type">{{getType(screenData.type_id)}}</nz-descriptions-item>
    <nz-descriptions-item nzTitle="Date Created">{{screenData.createdAt | date: "d MMM y"}} </nz-descriptions-item>
  </nz-descriptions>
</nz-card>
<br />
</nz-spin>
<nz-spin [nzSpinning]="!isDataLoaded">
<!--  data element table -->
<nz-card>
  <nz-table #dataElementData [nzData]="dataElements"  [nzPageSize]="10"[nzLoading]="!isDataLoaded">
    <thead>
      <tr>
        <th>Exercise</th>
        <th>Element</th>
        <th>Date Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataElementData.data">
        <!-- title -->
        <td>{{screenData.title}}</td>
        <!-- value-->
        <td>{{data.value}}</td>
        <!-- date -->
        <td>{{data.createdAt | date: "d MMM y"}}</td>
      </tr>
    </tbody>
  </nz-table>
  </nz-card>
</nz-spin>
