<!-- page headers  -->
<nz-spin [nzSpinning]="!isDataLoaded">
  <nz-card nzHoverable>
  <nz-page-header  class="site-page-header"(nzBack)="onBack()" nzBackIcon>
    <!-- title -->
    <nz-page-header-title>{{screen.title}}</nz-page-header-title>
    <!-- add btn -->
    <nz-page-header-extra>
      <button nz-button nzType="primary" (click)="showModal('Add', {})">Add Element <i nz-icon nzType="plus" nzTheme="outline"></i></button>
      <button nz-button nzType="default" (click)="reloadPage()" [nzLoading]="isReloading">Reload <i nz-icon nzType="reload" nzTheme="outline"></i></button>
    </nz-page-header-extra>
    <!-- screen stats -->
    <nz-page-header-content>
      <nz-row nzType="flex">
        <nz-statistic nzTitle="Total Records" [nzValue]="dataElementRecords" style="margin-right: 20px;"></nz-statistic>
        <!-- count down -->
        <nz-countdown [nzValue]="timerValue" [nzTitle]="'Time Left (HH:mm:ss)'"  [nzFormat]="'HH:mm:ss'" (nzCountdownFinish)="countDownDone()" ></nz-countdown>
      </nz-row>
    </nz-page-header-content>
  </nz-page-header>
  </nz-card>
  </nz-spin>
  <br/>

  <!-- data elements -->
  <nz-spin [nzSpinning]="!isDataLoaded">
    <nz-card [nzExtra]="btnActions">
        <div nz-card-grid [ngStyle]="gridStyle" *ngFor="let data of dataElements" class="clickable" (click)="showModal('Update', data)">{{data.value}}</div>
    </nz-card>
    <ng-template #btnActions>
      <button nz-button nzType="default" (click)="showTimerModal()" style="margin-right: 10px;" class="green-btn">Start</button>
      <button nz-button nzType="default" (click)="stopTimer()" [nzLoading]="isStop" class="red-btn">Stop</button>
    </ng-template>
  </nz-spin>

<!-- modal element -->
<app-screen-modal
*ngIf="isModal"
[isModal]="isModal"
[action]="action"
[dataElement]="dataElement"
[screenId]="screen.id"
(closeModal)="closeModal($event)"
(elementCreated)="elementCreated($event)"
>
</app-screen-modal>


<!-- set timer modal -->
<nz-modal [(nzVisible)]="isTimerModal" nzTitle="Set Timer" (nzOnCancel)="timerHandleCancel()" (nzOnOk)="timerHandleOk()"  [nzOkLoading]="isSettingTimer">
  <form nz-form [formGroup]="timerForm" >

    <!-- hours -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="hourValue">Hours</nz-form-label>
      <nz-form-control  [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="hourValue" placeholder="Hour" type="number" [ngModel]="1"  />
      </nz-form-control>
    </nz-form-item>
        <!-- mins -->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="minValue">Minutes</nz-form-label>
          <nz-form-control  [nzSm]="14" [nzXs]="24">
              <input  nz-input formControlName="minValue" placeholder="Minutes"type="number" [ngModel]="0"  />
          </nz-form-control>
        </nz-form-item>
            <!-- seconds -->
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="secValue">Seconds</nz-form-label>
      <nz-form-control   [nzSm]="14" [nzXs]="24">
          <input  nz-input formControlName="secValue" placeholder="Seconds" type="number" [ngModel]="0"  />
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>

