.green-btn {
  background: #34880a;
  color: #34880a;
  border-color: #34880a;
}

.red-btn {
  background: #ff4d4f;
  color: #ff4d4f;
  border-color: #ff4d4f;
}

.greenBtn {
  border-color: #18a301;
  color: #18a301;
}
