<!-- page headers  -->
<nz-spin [nzSpinning]="!isDataLoaded">
  <nz-card nzHoverable>
  <nz-page-header  class="site-page-header">
    <!-- title -->
    <nz-page-header-title>Exercises</nz-page-header-title>
    <!-- add btn -->
    <nz-page-header-extra>
      <button nz-button nzType="primary" nzGhost (click)="reloadPage()" [nzLoading]="isReloading">Reload <i nz-icon nzType="reload" nzTheme="outline"></i></button>
    </nz-page-header-extra>
    <!-- screen stats -->
    <nz-page-header-content>
      <nz-row nzType="flex">
        <nz-statistic nzTitle="Total Records" [nzValue]="screensRecords"></nz-statistic>
      </nz-row>
    </nz-page-header-content>
  </nz-page-header>
  </nz-card>
  </nz-spin>
  <br/>

  <nz-spin  [nzSpinning]="!isDataLoaded">
<nz-card>
  <!-- screens grid card -->
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8" *ngFor="let data of screensList | paginate: pageConfig">
      <nz-card nzHoverable style="margin-bottom: 10px;" (click)="screenDetails(data)" class="clickable">
        <nz-card-meta nzTitle="{{data.title}}" nzDescription="{{getType(data.type_id)}}"></nz-card-meta>
      </nz-card>
    </div>
</div>
</nz-card>
<br/>
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</nz-spin>
