<nz-layout>
  <nz-header>
    <div class="logo">
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item (click)="navigateByRoute('/screens')">Exercises</li>
      <li nz-menu-item (click)="navigateByRoute('/screens-management')">Exercise Management</li>
      <li nz-menu-item>About</li>
      <!-- <li nz-menu-item (click)="showAuth()" *ngIf="!isAuth()">Login/Register</li>
      <li nz-menu-item (click)="logout()" *ngIf="isAuth()">Logout</li> -->
    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>Easy-Learn@2020</nz-footer>

</nz-layout>

<app-login></app-login>
